@font-face {
    font-family: 'Appetite';
    src: url("./assets/fonts/appetite.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Sunday';
    src: url("./assets/fonts/sunday.ttf");
    font-weight: 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

html {
    max-width: 1440px;
    min-width: 420px;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(240, 128, 128, 0.6);
    font-family: "Sunday", sans-serif;
    font-size: 40px;
    line-height: 2;
    color: rgb(22, 15, 13);
}

.main {
    height: 80vh;
    font-family: "Appetite", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.result {
    height: 60px;
    color: rgb(22, 15, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 2;
    margin-top: 40px;
    font-family: "Sunday", sans-serif;;
}

.game {
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

  
}
.field:nth-child(1),
.field:nth-child(2),
.field:nth-child(3),
.field:nth-child(4),
.field:nth-child(5),
.field:nth-child(6) {
  border-bottom: 8px solid rgba(240, 128, 128, 0.6);
}

.field:nth-child(2),
.field:nth-child(5),
.field:nth-child(8) {
  border-left: 8px solid rgba(240, 128, 128, 0.6);
  border-right: 8px solid rgba(240, 128, 128, 0.6);
}

.field:nth-child(1),
.field:nth-child(4),
.field:nth-child(7) {
    padding-left: 8px;
}

.field:nth-child(3),
.field:nth-child(6),
.field:nth-child(9) {
    padding-left: 4px;
    padding-right: 4px;
}

.field {
    width: 120px;
    height: 120px;
    outline: none;
    cursor: pointer;
}

.new-game {
    border: none;
    color: rgb(22, 15, 13);
    background:  rgba(240, 128, 128, 0.6);
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 3s;
    height: 60px;   
    margin-bottom: 20px;
}

.new-game:active,
.new-game:hover {
    transform: scale(1.2);
}

.new-game:hover {
    background: rgba(255, 192, 203, 0.7);
	box-shadow: inset 0 0 0 2px  rgba(240, 128, 128, 0.6);
    transition: 0.8s;
    color: rgb(59, 80, 80);
}

.active {
    background:rgba(255, 192, 203, 0.3);
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(22, 15, 13);
}

.footer-container {
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 20px;
    margin: 0 auto;
    background: rgba(240, 128, 128, 0.6);
    font-family: "Appetite", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(22, 15, 13);
}

.footer-data {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-data p {
    padding-left: 10px;
    padding-right: 10px; 
}

.rss-logo {
    background: url("./assets/rss.svg");
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}

a:hover,
a:focus {
    color: rgb(59, 80, 80);
}

.rss-logo:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(7%) saturate(1405%) hue-rotate(131deg) brightness(89%) contrast(85%);
}

.zero {
    width: 100%;
    height: 100%;
    stroke-dasharray: 267;
    stroke-dashoffset: 267;
    animation: draw 1s forwards;
}

.cross {
    width: 100%;
    height: 100%;
}

.first {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    animation: draw 0.6s forwards;
}

.second {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    animation: draw 0.6s 0.6s forwards;
}
@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

.score {
    display: flex;
    flex-direction: row;
   position: absolute;
   top: 200px;
   right: 70px;
   z-index: 100;
}

.figure,
.steps-winner {
    font-size: 30px;  
}

li {
   list-style-type: none; 
}

ul {
 padding-right: 30px;
}

