@font-face {
    font-family: 'Merriweather';
    src: url("assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}
* {
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    /* margin: 0; */
    /* padding: 0; */
    
}

body {
    font-family: 'Inter';  
}

header {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
     /* padding: 0 20px;  */
     /* padding-top: 20px; */
    display: flex;
    border: 0px;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
}

.basic-sections {
     flex-direction: column;
    flex-wrap: nowrap;
}
.header {
    display: block; 
    flex-direction: row;
    /*height: 50px;
    width: 50px;*/
}

.main-header {
    padding: 0;
    margin: 0 auto;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    width: 70px;
    height: 90px;
    /*left: 20px;
    top: 20px;*/
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-right: 20px; */

}

.logo-img {
    width: 50px;
    height: 50px;
}
.logo:hover {
    filter: invert(26%); sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
    padding-top: 20px;
    width: 500px;
    height: 90px;
    padding-bottom: 20px;
    
}

.list {
    /*width: 500px;
    height: 50px;
    /*position: relative;
    width: 100%;*/
    padding: 0;
}
.nav-list {
    display: flex;
    list-style: none;
    text-align: center;
    /* width: 100%; */
}

.nav-item {
    /* width: 20%; */
    padding-right: 30px;
    text-align: center;
}

#first-item {
    padding-left: 30px;
    padding-right: 30.67px;
}

#second-item {
    padding-right: 30.97px;
}
#third-item {
    padding-right: 30.73px;
}
#fourth-item {
    padding-right: 30.3px;
}

.nav-link {
   /*padding: 0px 30px;*/
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    /*padding-top: 20px;*/
}

.nav ul,
li,
a {
    padding: 0;
    margin: 0;
}

.nav a {
    display: block;
}


.switch-lng {
    height: 90px;
    width: 90px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    padding-top: 20px;
    display: inline;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

span {
    padding: 0;
}

.lng {
    color: #BDAE82;
}

.hero {
    width: 1440px;
    height: 820px;
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}
h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin: 0;
}

.hero-text {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin: 0 auto;
}

.mybutton {
    border: 0;
    background: #BDAE82;
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding: 0;
}

.name {
    width: 580px;
    height: 280px;
    padding-left: 80px;
    padding-top: 160px;
}

.hero-text {
   width: 550px;
   height: 130px;
 padding-top: 10px;
 padding-left: 80px;
 font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
margin: 0;
}

.hero-text span {
    margin: 0;
    padding-top: 10px;
}

.hero-button {
  width: 300px;
  height: 80px; 
  padding-left: 80px;
padding-top: 25px; 
}
section {
   
}

.skills {
    width: 1440px;
    height: 482px;
    background-color: #000000;
   
}

.section-title {
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
text-align: center;
color: #BDAE82;
padding-top: 100px;
width: 700px;
height: 180px;
margin: 0 auto;

}

.wrap ::after, 
.wrap ::before {
    content: " ";
    position: absolute;
    background: #BDAE82;
    width: 900px;
    height: 2px;
    top: 139px;
    width: 50%;
    
}
 .wrap {
    position: relative;
    overflow-x: hidden;
    width: 700px;
    height: 180px;
    margin: 0 auto;
 }
 .wrap ::after {
    margin-right: -50%;

 }

 .wrap ::before {
    margin-left: -50%;
 }

 .skills-item {
     width: 1440px;
     height: 302px;
     margin: 0 auto;
     padding-left: 20px;
     padding-right: 20px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     background-position: center top;
     padding-top: 60px;
 }

 .skills-photo,
 .skills-video,
 .skills-retouch,
 .skills-audio {
    width: 320px;
    height: 240px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;

 }

 .skills-wrap {
     /* padding-left: 20px; */
     padding-top: 100px;
     width: 320px;
     height: 240px;
 }

 .skills-photo {
     background-image: url('./assets/svg/camera 1.svg');
     background-size: 62px 50px;
     background-position: top center;
     background-repeat: no-repeat;
 }

 .skills-video {
     background-image: url('./assets/svg/video 1.svg');
     background-size: 60px 50px;
     background-position: top center;
     background-repeat: no-repeat;
 }
 .skills-retouch {
    background-image: url('./assets/svg/image 1.svg');
    background-size: 66px 50px;
    background-position: top center;
    background-repeat: no-repeat;
}
.skills-audio {
    background-image: url('./assets/svg/mic 1.svg');
    background-size: 32px 50px;
    background-position: top center;
    background-repeat: no-repeat;
}

.skills-name {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.skills-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
 .portfolio {
     width: 1440px;
     height: 1500px;
     background-color: #000000;
 }

 .portfolio-button {
    width: 895px;
    height: 115px; 
    display: flex;
    gap: 5px;
    padding-left: 271px;
    padding-top: 60px;
    width: 100%;
    /* padding-bottom: 60px; */
  }

  .mysecondbutton {
    border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
background: #000000;
    height: 55px;
    width: 220px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #BDAE82;
padding-right: 5px;
}

#last {
    height: 55px;
    width: 220px;
background: #BDAE82;
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #000000;
}

.portfolio-items {
    width: 1440px;
    height: 1145px;
    display: flex;
    /* margin: 0 auto; */
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

}
/* .photo { */
    /* flex-wrap: wrap;
    width:33,33%;
    
    margin: 0;
    
    /* justify-content: space-between; */
    /* width: 1440px;
    height: 1215px;
    
}

.photo img {
    padding: 0;
    margin: 0; */
/* }

#first-photo {
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom: 25px; 
    width: 495px;
    height: 585px;
}
#second-photo {
    padding-right: 25px;
    padding-bottom: 25px;
    width: 475px;
    height: 585px
}

#third-photo {
    padding-right: 20px;
    padding-bottom: 25px;
    width: 470px;
    height: 585px
}

#fourth-photo {
    padding-right: 25px;
    padding-left: 20px;
    width: 495px;
    height: 560px;
}

#fifth-photo {
    padding-right: 25px;
    width: 475px;
    height: 560px;
    
}  

#six-photo {
    padding-right: 20px;
    width: 470px;
    height: 560px; */
 

/* } */

.first-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 1400px;
    height: 585px;
    padding-bottom: 25px;
}

.second-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 1400px;
    height: 560px;
}