@font-face {
    font-family: 'Open-sans';
    src: url("assets/fonts/OpenSans-Medium.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

html {
    /* max-width: 1440px; */

}

header {
   
    background-color: rgba(133, 162, 170, 0.5);
    height: 10vh;
     display: flex;
     align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* height: 10vh; */
    margin-right: 20px;
    /* width: 80px; */
    /* margin-left: 0 auto; */
}

.lng {
    text-transform: uppercase;
    height: 40px;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transition: 0.3s;
  background:rgb(133, 162, 170);
  border: 2px solid rgb(83, 104, 110);
  border-radius: 38%;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  transition: transform 1s;   
}
.active {
    background: rgba(176, 227, 240, 0);
	color: rgb(36, 56, 61);
	box-shadow: inset 0 0 0 1px #526d7a;
    transition: 0.3s;
}
.lng:hover,
.lng:focus {
    background: rgba(176, 227, 240, 0);
	color: rgb(36, 56, 61);
	box-shadow: inset 0 0 0 1px #526d7a;
    transition: 0.3s;
    transform: scale(1.1);
}

.ru {
    margin-right: 10px;
    margin-left: 10px;
}
body {
    font-family: "Open-sans", sans-serif;
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 20px;
    display: block;
    /* margin: 8px; */

}
.main {
    height: 80vh;
}

.container {
    padding-top: 40px;
    text-align: center;
    display: grid;
    justify-items: center;
}

img {
    display: block;
    padding-bottom: 30px;
}
.picture {
    width: 200px;
    height: 300px;
   border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}
.picture.active {
    animation: rote;
    transform: rotate(360deg);
    transition: 1s;
    background-color: transparent;
    outline: 0;
    border: 0;
    box-shadow: none;
  }
  @keyframes rote {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rote {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.btn {
    text-transform: uppercase;
    background:rgb(133, 162, 170);
    color: #fff;
    padding: 8px 20px;
    letter-spacing: 0.25rem;
    display: block;
    transition: all 0.3s linear;
    font-size: 16px;
    border: 2px solid rgb(83, 104, 110);
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0, 0, 0 / 20%);
    border-radius: 0.5rem;
    font-weight: bold;
}
.btn {
  
    transition: transform 3s;   
    }


.btn:hover {
    /* color: rgb(59, 80, 80); */
    background: rgba(133, 162, 170, 0.5);
	color: rgb(36, 56, 61);
	box-shadow: inset 0 0 0 0px #526d7a;
    transition: 0.8s;
}

    .btn:active {
        transform: scale(1.2);
    }

.jokes {
    width: 1000px;
    padding-top: 30px;
    color:rgb(59, 80, 80);
    margin: o auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color:rgb(59, 80, 80);
    font-size: 25px;
    font-style: italic; 
}

.footer-container {
    margin: 0 auto;
    height: 10vh; 
    display: flex;
    justify-content: left;
    align-items: center;
    /* max-width: 1440px; */
    background-color: rgba(133, 162, 170, 0.5);
    padding-right: 20px;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(36, 56, 61);
    
}

.footer-data p {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}

a:hover,
a:focus {
    color: rgb(59, 80, 80);
}

.rss-logo {
    background: url("./assets/svg/rss.svg");
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
    margin-right: 0;
   

}

.rss-logo:hover {
    filter: brightness(0) saturate(100%) invert(29%) sepia(7%) saturate(1405%) hue-rotate(131deg) brightness(89%) contrast(85%);
}